<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <app-card-page-visits></app-card-page-visits>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <app-card-social-traffic></app-card-social-traffic>
  </div>
</div>
<div class="py-8">
  <div>
    <h1 class="text-lg text-center font-semibold uppercase underline mb-4">Job offers</h1>
    <app-job-offers-card *ngFor="let jobOffer of responseOffer.content" [jobOffers]="jobOffer"></app-job-offers-card>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="inline-flex ">
      <li>
        <a href="#"
           class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
      </li>
      <li  *ngFor="let page of pages" class="relative inline-flex items-center border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
        <a [routerLink]="[currentUrl]" [queryParams]="{page: page}" class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{page}}</a>
      </li>
      <li>
        <a href="#"
           class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
      </li>
    </ul>
  </nav>
</div>
